.wm-sticky-Nav-Bar{
    position:fixed;
    padding: 10px;
    width: 100%;
    z-index: 2;
}

.wm-course-manage-size{
    font-size: 20px;
    margin-left: 15px;
}

.wm-background{
    background-color: white;
}

a.nav-link{
    color: white;
}

.wm-icon{
    margin-left: 10px;
}

.wm-floating-child{
    position:absolute;
    top: 70px;
    right: 130px;
}

/*user_list*/
.wm-table{
    width: 50%;
    margin:0 auto;
}

.wm-table-label{
    border-right: 1px solid #dee2e6;
    text-align: right;
    width: 50%;
}

.wm-table-content{
    text-align: left;
}

/*pet_list*/
.wm_pet_info{
    width: 80%;
    background: whitesmoke;
    text-align: left;
}

.wm_align_middle{
    width:80%;
    margin: 0 auto;
}
